* {
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5) 50%, rgba(0, 0, 0, 0.5) 50%), url(Ocean.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar {
    width: 1400px;
    height: 300px;
    margin: auto;
}

.icon {
    width: 300; 
    float: left;
    height: 70px;
    margin-right: 70px;
}

.logo {
    color: #ffa500;
    font-size: 50px;
    font-family: Arial;
    padding-left: 1px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu {
    width: 400px;
    float: left;
    height: 70px;
}

ul {
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    list-style: none;
}

ul li {
    list-style: none;
    margin-left: 45px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a {
    text-decoration: none;
    color: white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover {
    color: #e89c0f;
    transition: .2s;
}

.content {
    max-width: 1100px;
    margin: 0 auto;
    padding: 20px;
    color: #8ef408;
}

.content .par {
    padding-bottom: 25px;
    font-family: Arial;
    letter-spacing: 1.2px;
    line-height: 30px;
}

.content h1 {
    font-family: 'Times New Roman';
    font-size: 30px;
    margin-top: 2%;
    letter-spacing: 2px;
}

.content .cn {
    width: 160px;
    height: 40px;
    background: #ff7200;
    border: none;
    margin-top: 20px;
    font-size: 18px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.content .cn a {
    text-decoration: none;
    color: black;
    transition: .3s ease;
}

.cn:hover {
    background-color: #fff;
}

.content span {
    color: #ffa500;
    font-size: 40px;
}

